.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Color oscuro con opacidad */
  backdrop-filter: blur(2px); /* Efecto de desenfoque */
  -webkit-backdrop-filter: blur(2px); /* Soporte para Safari */
}