.Carousel {
    overflow: hidden;
    width: 100%;
    height: 50vh;
  }
  
  .Carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .Carousel-item {
    min-width: 100%;
    min-height: 100%;
  }

  .Carousel {
    position: relative;
    overflow: hidden;
  }
  
  .Carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }
  
  .Carousel-button-left {
    left: 0;
  }
  
  .Carousel-button-right {
    right: 0;
  }