@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MADECARVING', sans-serif;
}
@font-face {
    font-family:"MADECARVING";
    src: url("./fonts/MADECARVINGPersonalUse-Thin.otf");
    font-weight: lighter;
    font-style: normal;
}
  